TEST_WEBHOOK_URL = "{secret-value}"

CMLABS_WEBHOOK_URL = "{secret-value}"
CMLABS_WEBHOOK_LOGO = "{secret-value}"

SEQUENCE_WEBHOOK_URL = "{secret-value}"
SEQUENCE_WEBHOOK_LOGO = "{secret-value}"

VISUWISU_WEBHOOK_URL = "{secret-value}"
VISUWISU_WEBHOOK_LOGO = "{secret-value}"

EKSTERNAL_WEBHOOK_URL = "{secret-value}"
EKSTERNAL_WEBHOOK_LOGO = "{secret-value}"